name: build-pullrequest
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  bluebuild:
    name: PR build
    runs-on: ubuntu-24.04
    permissions:
      contents: read # требуется для настройки прав доступа к репозиторию
    strategy:
      fail-fast: false 
      matrix:
        recipe:
          - recipe-hyprland-dx.yml
          - recipe-hyprland-nvidia-dx.yml

    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Maximize build space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Determine Vars
        id: build_vars
        shell: bash
        env:
          RECIPE: ${{ matrix.recipe }}
        run: |
          RECIPE_PATH=""
          if [ -f "./config/${RECIPE}" ]; then
            RECIPE_PATH="./config/${RECIPE}"
          else
            RECIPE_PATH="./recipes/${RECIPE}"
          fi
          echo "recipe_path=${RECIPE_PATH}" >> ${GITHUB_OUTPUT}
          
      - name: Install BlueBuild
        shell: bash
        env:
          CLI_VERSION_TAG: ${{ steps.build_vars.outputs.cli_version }}
        run: |
          docker create \
            --name blue-build-installer \
            ghcr.io/blue-build/cli:v0.9.28-installer
          docker cp blue-build-installer:/out/bluebuild /usr/local/bin/bluebuild
          docker rm blue-build-installer
          bluebuild --version

      - name: Build Image
        shell: bash
        working-directory: ${{ inputs.working_directory }}
        env:
          RECIPE_PATH: ${{ steps.build_vars.outputs.recipe_path }}
          RUST_LOG_STYLE: always
          CLICOLOR_FORCE: '1'
          GH_PR_EVENT_NUMBER: ${{ github.event.number }}
        run: |
          BUILD_OPTS="--build-driver podman --squash"
          bluebuild build -v ${BUILD_OPTS} ${RECIPE_PATH}